<div class="contenidor-pantalla">

  <aside class="menu-lateral">
    <div class="logo">
      <h2>R.E.N.F.E</h2>
    </div>
    <nav class="botons-menu">
      <button class="btn-lateral actiu">Tauler Inicial</button>
      <button class="btn-lateral">Gestió de Usuaris</button>
      <button class="btn-lateral">Gestió de Cicles</button>
      <button class="btn-lateral">Parametres</button>
      <button class="btn-lateral btn-avall">Tancar sessió</button>
    </nav>
  </aside>

  <main class="area-principal">
    <header>
      <h1>Resum General</h1>
      <p>Rendiment del centre FP</p>
      <button class="btn-derecha" routerLink="/crear-cicle">Nou Cicle</button> 
    </header>
    
    <div class="contingut-dades">
      </div>
  </main>

</div>