<div class="layout-principal">
  
  <aside class="menu-lateral">
    <h2>R.E.N.F.E</h2>
    <ul class="lista-menu">
      <li><a routerLink="/administracio/tauler" routerLinkActive="activo">Tauler Inicial</a></li>
      <li><a routerLink="/administracio/gestio-usuaris" routerLinkActive="activo">Gestió de Usuaris</a></li>
      <li><a routerLink="/administracio/gestio-cicles" [class.activo]="menuCiclesActiu">Gestió de Cicles/Periodes</a></li>
      <li><a routerLink="/administracio/parametres" routerLinkActive="activo">Parametres</a></li>
    </ul>
  </aside>

  <main class="contenido-derecha">
    <div class="cabecera">
      <h1>{{ titolPagina }}</h1>
    </div>
    
    <router-outlet></router-outlet>

  </main>
</div>