<div class="fons-login">
  <div class="targeta-login">
    <div class="encapçalament-login">
      <h1>Benvingut</h1>
      <p>Accedeix al teu compte</p>
    </div>

    <div class="cos-formulari">
      @if (error()) {
        <div class="missatge-error"><span class="icona-error"></span> {{ error() }}</div>
      }
      <button
        (click)="loginGoogle()"
        class="boto-google"
        [class.boto-loading]="isGoogleLoading()"
        [disabled]="isGoogleLoading() || isLoading()"
      >
        @if (isGoogleLoading()) {
          <div class="spinner-circle"></div>
        } @else {
          <span class="icona-google-img">G</span>
          <span class="btn-text">Login amb Google</span>
        }
      </button>
    </div>

    <div class="peu-login">
      <p>© 2026 TenFe</p>
    </div>
  </div>
</div>
