<div class="fons-login">
    <div class="targeta-login">
        <div class="encapçalament-login">
            <h1>Benvingut</h1>
            <p>Accedeix al teu compte</p>
        </div>

        <div class="cos-formulari">
            <div class="grup-input">
                <label for="usuari">Usuari</label>
                <div class="input-wrapper">
                    <input type="text" id="usuari" placeholder="Posa el teu email" [(ngModel)]="usuari"
                        (keyup.enter)="iniciarSessio()">
                    <span class="icona-input">👤</span>
                </div>
            </div>

            <button (click)="iniciarSessio()" class="boto-entrar">
                Iniciar Sessió
            </button>

            @if (error()) {
            <div class="missatge-error">
                <span class="icona-error"></span> {{ error() }}
            </div>
            }
            <button (click)="loginGoogle()" class="boto-google">
                <span class="icona-google-img">G</span>
                Login amb Google
            </button>
        </div>

        <div class="peu-login">
            <p>© 2026 R.E.N.F.E</p>
        </div>
    </div>
</div>