<div class="contenidor-pantalla">

  <aside class="menu-lateral">
    <div class="logo">
      <h2>R.E.N.F.E</h2>
    </div>
    <nav class="botons-menu">
      <button class="btn-lateral" routerLink="/administracio">Tauler Inicial</button>
      <button class="btn-lateral actiu">Gestió de Cursos</button>
      <button class="btn-lateral btn-avall">Ajustos</button>
    </nav>
  </aside>

  <main class="area-principal">
    
    <header class="capcalera-formulari">
      <h1>Crear un Nou Cicle Formatiu</h1>
      <p>Introdueix les dades per registrar el curs a la base de dades.</p>
    </header>

    <div class="targeta-formulari">
      <form [formGroup]="formulariCicle" (ngSubmit)="guardarCicle()" class="targeta-formulari">
  <h3 class="titol-seccio">Dades del Curs</h3>
  
  <div class="camp">
    <label>Nom del Curs</label>
    <input type="text" formControlName="nom" placeholder="Ex: Desenvolupament Web">
  </div>

  <div class="camp">
    <label>Tipus de Grau</label>
    <select formControlName="tipus">
      <option value="">Selecciona...</option>
      <option value="GM">Grau Mitjà (GM)</option>
      <option value="GS">Grau Superior (GS)</option>
    </select>
  </div>

  <hr class="separador">

  <h3 class="titol-seccio">Connexions (IDs)</h3>
  <div class="grup-dates">
    
    <div class="camp meitat">
      <label>ID del Tutor</label>
      <input type="number" formControlName="id_tutor" placeholder="Ex: 1">
    </div>

    <div class="camp meitat">
      <label>ID del Període</label>
      <input type="number" formControlName="id_periode" placeholder="Ex: 1">
    </div>
    
  </div>

  <div class="accions-formulari">
    <button type="submit" class="btn-guardar">Crear Curs</button>
  </div>
</form>
    </div>

  </main>
</div>