<div class="gestio-container">
  
  <div class="cabecera-gestio" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <div>
      <h2 style="margin-bottom: 5px;">Gestió de Períodes</h2>
      <h3 style="color: #4b5563; font-weight: normal; margin-top: 0;">Llistat dels Períodes creats</h3>
    </div>
    <button class="btn-crear" style="background-color: #0891b2;" (click)="obrirModalCrear()">Nou Període</button>
  </div>
  
  <div class="missatge-caixa" *ngIf="carregant">
    <p>Carregant períodes des de la base de dades...</p>
  </div>

  <table class="taula-cursos" *ngIf="!carregant && periodes.length > 0">
    <thead>
      <tr>
        <th style="text-align: center;">1er TRIMESTRE</th>
        <th style="text-align: center;">2on TRIMESTRE</th>
        <th style="text-align: center;">3er TRIMESTRE</th>
        <th>ACCIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of periodes">
        <td style="text-align: center;">
          {{ p.trimestre_1_ini | date:'dd/MM/yyyy' }} <br>
          <small style="color: #6b7280;">al</small> <br>
          {{ (p.trimestre_1_fi | date:'dd/MM/yyyy') || 'Sense data' }}
        </td>

        <td style="text-align: center;">
          {{ p.trimestre_2_ini | date:'dd/MM/yyyy' }} <br>
          <small style="color: #6b7280;">al</small> <br>
          {{ (p.trimestre_2_fi | date:'dd/MM/yyyy') || 'Sense data' }}
        </td>

        <td style="text-align: center;">
          {{ p.trimestre_3_ini | date:'dd/MM/yyyy' }} <br>
          <small style="color: #6b7280;">al</small> <br>
          {{ (p.trimestre_3_fi | date:'dd/MM/yyyy') || 'Sense data' }}
        </td>
        
        <td class="accions">
          <button class="btn-editar" (click)="obrirModalEditar(p.id)">Editar</button>
          <button class="btn-eliminar" (click)="esborrarPeriode(p.id)">Esborrar</button>
        </td>
      <div class="modal-overlay" *ngIf="mostrarModal">
        <div class="modal-content">
          <app-crear-periode
            [idPeriodeEditar]="idPeriodeSeleccionat"
            (tancarModal)="gestionarTancamentModal($event)">
          </app-crear-periode>
        </div>
      </div>
      </tr>
    </tbody>
  </table>

  <div class="missatge-caixa" *ngIf="!carregant && periodes.length === 0">
    <p>Encara no hi ha cap període creat.</p>
  </div>

</div>