<nav class="barra-superior">
  <div class="seccio-esquerra">
    <div class="logo">
      <!-- Espai per logotip si cal -->
    </div>

    <div class="enllacos-navegacio">
      <!-- Icona Inici -->
      <a
        routerLink="/professors"
        routerLinkActive="actiu"
        [routerLinkActiveOptions]="{ exact: true }"
        class="element-navegacio"
      >
        <div class="caixa-icona">
          <img src="/img/menu/iconos/inici-icona.png" alt="Inici" />
        </div>
      </a>

      <!-- Icona Llista / Alumnes -->
      <a routerLink="/llista-classe" routerLinkActive="actiu" class="element-navegacio">
        <div class="caixa-icona">
          <img src="/img/menu/iconos/llista-icona.png" alt="Llista" />
        </div>
      </a>

      <!-- Icona Calendari -->
      <a routerLink="/professors" class="element-navegacio">
        <div class="caixa-icona">
          <img src="/img/menu/iconos/calendari-icona.png" alt="Calendari" />
        </div>
      </a>

      <!-- Icona Documents / Justificants -->
      <a routerLink="/professors" class="element-navegacio">
        <div class="caixa-icona">
          <img src="/img/menu/iconos/justif-icona.png" alt="Justificants" />
        </div>
      </a>

      <a routerLink="/administracio" routerLinkActive="actiu" class="element-navegacio">
        <div class="caixa-icona">
          <img src="/img/menu/iconos/justif-icona.png" alt="Admin" />
        </div>
      </a>
    </div>
  </div>

  <!-- Icona Perfil -->
  <div class="seccio-perfil">
    <a routerLink="/profile" class="element-navegacio">
      <div class="caixa-icona perfil">
        <img src="/img/menu/iconos/usuari-icona.png" alt="Perfil" />
      </div>
    </a>
  </div>
</nav>
