<nav class="barra-superior">
  <div class="contenedor-navegacio-centrat">
    <!-- 1. Llista d'Assignatures -->
    <a routerLink="/llista-assignatures" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroBookOpen"></ng-icon>
      </div>
      <span>Assignatures</span>
    </a>

    <!-- 2. Gestió Inscrits (Tutor) -->
    @if (esTutor) {
    <a routerLink="/gestio-inscrits" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroAcademicCap"></ng-icon>
      </div>
      <span>Alumnes</span>
    </a>
    }

    <!-- 3. Llista Classe -->
    <a routerLink="/llista-classe" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroClipboardDocumentList"></ng-icon>
      </div>
      <span>Classe</span>
    </a>

    <!-- 4. CENTRE: Professors (Inici) -->
    <a routerLink="/professors" routerLinkActive="actiu" [routerLinkActiveOptions]="{ exact: true }"
      class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroHome"></ng-icon>
      </div>
      <span>Inici</span>
    </a>

    <!-- 5. Llista Faltes -->
    <a routerLink="/llista-faltes" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroClock"></ng-icon>
      </div>
      <span>Faltes</span>
    </a>

    <!-- 6. Gestio Justificants -->
    <a routerLink="/gestio-justificants" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroDocumentText"></ng-icon>
      </div>
      <span>Justificants</span>
    </a>

    <!-- 7. Horari Alumnes (Tutor) -->
    @if (esTutor) {
    <a routerLink="/horari-alumnes" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroCalendarDays"></ng-icon>
      </div>
      <span>Horari</span>
    </a>
    }

    <!-- 8. Icona Perfil -->
    <a routerLink="/profile" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona perfil">
        <ng-icon name="heroUserCircle"></ng-icon>
      </div>
      <span>Perfil</span>
    </a>
  </div>
</nav>