<div class="gestio-container">
  
  <div class="cabecera-gestio">
    <h2>Llistat dels Cursos creats</h2>
    <button class="btn-crear" (click)="obrirModalCrear()">Nou Cicle</button>
  </div>

  <div class="missatge-caixa" *ngIf="carregant">
    <p>Carregant cicles des de la base de dades...</p>
  </div>

  <div class="buscador-container" *ngIf="!carregant && cicles.length > 0" style="margin-bottom: 20px;">
    <input 
      type="text" 
      [(ngModel)]="termeCerca" 
      placeholder="Cercar curs per nom..." 
      style="width: 100%; max-width: 400px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;"
    >
  </div>
  
  <table class="taula-cursos" *ngIf="!carregant && ciclesFiltrats.length > 0">
      <thead>
        <tr>
          <th>Nom del Cicle</th>
          <th>Tipus</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of ciclesFiltrats">
          <td>{{ c.nom }}</td>
          <td>{{ c.tipus }}</td>
          <td class="accions">
            <button class="btn-editar" (click)="obrirModalEditar(c.id)">Editar</button>
            <button class="btn-eliminar" (click)="esborrarCurs(c.id, c.nom)">Esborrar</button>
          </td>
        </tr>
      </tbody>
  </table>

  <app-crear-cicle 
  *ngIf="mostrarModal" 
  [idCursEditar]="idCursSeleccionat" 
  (tancarModal)="gestionarTancamentModal($event)">
</app-crear-cicle>

  <div class="missatge-caixa" *ngIf="!carregant && ciclesFiltrats.length === 0">
    <p>No s'han trobat cursos amb aquest nom.</p>
  </div>

</div>