<nav class="barra-superior tema-alumne" style="--primary-color: #0ea5e9;">
  <div class="contenedor-navegacio-centrat">
    <!-- 1. Inici (Alumnes Dashboard) -->
    <a routerLink="/alumnes" routerLinkActive="actiu" [routerLinkActiveOptions]="{ exact: true }" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroHome"></ng-icon>
      </div>
      <span>Inici</span>
    </a>

    <!-- 2. Horari -->
    <a routerLink="/alumnes/horaris" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroCalendarDays"></ng-icon>
      </div>
      <span>Horari</span>
    </a>

    <!-- 3. Justificants -->
    <a routerLink="/alumnes/justificants" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona">
        <ng-icon name="heroDocumentCheck"></ng-icon>
      </div>
      <span>Justificants</span>
    </a>

    <!-- 4. Icona Perfil -->
    <a routerLink="/profile" routerLinkActive="actiu" class="element-navegacio">
      <div class="caixa-icona perfil">
        <ng-icon name="heroUserCircle"></ng-icon>
      </div>
      <span>Perfil</span>
    </a>
  </div>
</nav>
